body, html {
  height: 100%;
  max-width: 100%;
  font-family: "Inter", "Lato", "Roboto", sans-serif;
  scroll-behavior: smooth;
}

p {
  margin:0;
}




/* **********Tree Styles************* */
.h6 {
  font-size: 12px;
  font-weight: bold;
}

.fa i {
  width: 100px;
  height: 100px;
}

svg {
  overflow: hidden;
}

#tree-page-content {
  min-height: calc(100% - 70px) !important;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: -60px;
  position: relative;
  background-image: linear-gradient(to bottom right, rgb(112, 130, 148), rgb(59,72,113)); 
}

#page-content {
  min-height: 100% !important;
  width: 100%;
  margin-bottom: -60px;
  position: relative;
  background-image: linear-gradient(to bottom right, rgb(112, 130, 148), rgb(59,72,113));
    
}

#treeContainer {
  font-size: 11px;
  overflow: auto;
  position: relative;
  background-color:rgba(255, 255, 255, .9);
  z-index: 100;
  margin-bottom: 63px;
  /* margin-top: 80px; */
}

.node-text {
background-color: rgb(172, 209, 226);
padding:10px;
border-radius: 5px;
margin-right: 20px;
font-weight: bold;
border: 1px solid grey;
}

.popup-text {
  text-decoration: underline;
  color:#007bff;
}

.popup-text:hover {
  cursor: pointer;
}

.popup-btn {
  float: right;
  color: white;
  border-color: white;
  background-color: rgb(33, 199, 33);
}

.node-text::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

label {
  margin: 12px;
}

.node rect {
  fill: cornflower;
  stroke: cornflower;
  stroke-width: 3px;
  border-radius: 10px;
  padding: 8px;
}

.node text {
  font: 12px "Inter", sans-serif;
}

.link {
  fill: none;
  /* stroke: #e0e0e0; */
  stroke: grey;
  stroke-width: 3px;
  stroke-dasharray: 5;
}


div.tooltip {
  position: absolute;
  text-align: center;
  width: 180px;
  padding: 8px;
  font: 12px sans-serif;
  border: 0px;
  border-radius: 8px;
  background-color: #e5e1f8;
  
  /* z-index: -1; */
  /*  pointer-events: none;	This line needs to be removed */
}

a:visited {
  fill: darkpurple;
}


a:hover, a:active {
  text-decoration: underline;
  fill: darkred;
}

.txt {
  vertical-align: text-top;
  padding: 7px 0 0 3px;
  /* border: 1px solid grey; */
}

#homeBtn {
  /* margin-bottom: 100px;
  margin-left:45%; */
  position: absolute; 
  bottom: 10px;
  left: 45%;
}

#detainedBig {
  
}





/* ************HomePage Styles*************** */
.my-nav {
  padding: 15px;
  position: fixed;
  top:0;
  width: 100%;
  border-bottom: 1px solid grey;
  background: rgba(52,58,64,.9) !important;
  z-index:101;
}

.espanol-link {
  border-right: 1px solid white;
}

.espanol-link a {
  color: rgb(149, 255, 149) !important;
}

#topImgDiv {
  width: 100%;
  padding:400px 100px;
  border-bottom: 2px solid grey;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('https://cdn.pixabay.com/photo/2018/02/04/09/03/migration-3129340_960_720.jpg');
  /* background-image: url("https://cdn.pixabay.com/photo/2018/02/04/09/03/migration-3129340_960_720.jpg"); */

  /* background-attachment: fixed !important; */
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  text-align: center;
}

#topImgDiv h1 {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(29, 39, 51, 0.85);
  border-radius: 20px;
  display: inline-block;
  padding: 20px;
  /* position: fixed;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  z-index:4; */
}

.top-section {
  /* background-image: url("https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
   background-repeat: no-repeat;
  background-size: cover; */
  /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(100, 127, 158, 1) ); */
  background-color: rgb(54, 73, 95);
  /* margin-bottom: 30px; */
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .12), 0 10px 10px 0 rgba(0, 0, 0, .12);
  z-index: 5;
  position: relative;
}

.top-section::after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-2.5deg);
  transform-origin: 100%;
  z-index: -1;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .22), 0 10px 10px 0 rgba(0, 0, 0, .22);
}

.mid-section {
  padding: 150px 0 0 0;
  margin-bottom:60px;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
}

.dropdowns-wrapper {
  padding: 30px 30px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .12), 10px 10px 10px 10px rgba(0, 0, 0, .12);
  margin-bottom:80px;
  border-radius:10px;
}

.dropdown-buttons h1 {
  width: 100%;
  font-weight: bold;
}

.dropdown-buttons h4 {
padding: 15px;
}

.dDown-menu {
  text-align: center;
  margin-bottom: 30px;
}

.btn-group {
  width: 100%;
}

.data-button {
  /* min-width: 200px; */
  min-height: 200px;
  width: 100%;
  font-size: 24px;
  color: rgb(248, 248, 179);
  border-radius: 50%;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .32), 0 10px 10px 0 rgba(0, 0, 0, .32);
}

.dDown-menu .active{
  background:rgb(37, 37, 182) !important;
}

.text-choices {
  list-style-type: none;
  padding: 0;
  /* border:1px solid grey; */
  border-radius: 10px;
  color:white;
  background: #0275d8 !important;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .26), 0 10px 10px 0 rgba(0, 0, 0, .22);
}

#textChoices {
  display: none;
}

#textChoicesDiv {
  min-height: 200px;
}

.text-choices li {
  /* border: 1px solid white; */
  font-size: 24px;
  padding:5px 10px;
  /* margin-bottom: -1px; */
}

.text-choices li{
  border-top: 1px solid white !important;
  }

  #textChoicesDiv ul > :first-child{
    border-top: none !important;
    /* color: green; */
  }

.text-choices li:hover {
  background:rgb(37, 37, 182) !important;
  cursor: pointer;
}

.about-text {
  font-size: 15px;
  /* border: 1px solid grey; */
  margin: 100px 0 80px 0;
  padding: 50px;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .26), 0 10px 10px 0 rgba(0, 0, 0, .22);
}

.about-text p {

}

.about-text h4 {
  font-family: 'Italianno', cursive;
  font-size: 32px;
  /* font-weight: bold; */
}

/* .push {
  margin-bottom: 60px;
  height: 60px;
  } */

#sticky-footer {
  background-color: rgba(40, 40, 40, .95);
  color: whitesmoke !important;
  text-align: center;
  height: 60px;
  padding-top: 12px;
  font-size: 20px;
  position: relative;
  z-index: 101;
}

#sticky-footer a {
  color: whitesmoke !important;
  font-weight: bold;
  padding: 5px 25px;
  margin-left: 50px;
  text-decoration:none;
  background-color: #007bff;
  border: 1px solid grey;
  border-radius: 4px;
}

#sticky-footer a:hover {
  background-color: #0c58aa;
  border: 1px solid black;
}

#sticky-footer a i:hover {
  animation: shake 0.5s;
  /* animation-iteration-count: infinite; */
}

.hidden {
  display: none;
}


/* ***********Media Queries************ */
@media (max-width: 1600px) {
  #topImgDiv {
    padding:300px 40px;
  }
  #topImgDiv h1 {
    font-size: 50px;
  }
}

@media (max-width: 1059px) {
  #topImgDiv {
    height: 600px;
    padding:300px 40px;
  }
  #topImgDiv h1 {
    font-size: 50px;
  }
}

@media (max-width: 820px) {
  #topImgDiv {
    height: 500px;
    padding:250px 20px;
  }
  #topImgDiv h1 {
    font-size: 40px;
  }
}

@media (max-width: 669px) {
  #topImgDiv {
    height: 400px;
    padding:200px 20px;
  }
  #topImgDiv h1 {
    font-size: 30px;
  }

  .top-section {
    padding:0;
  }
  .about-text {
    padding: 5% 5%;
  }
}
/* @media (max-width: 550px) {
  .container, .container-fluid {
    padding: 0;
    margin: 0;
  }
  .dropdown-buttons {
    margin: 0;
    padding: 2%;
  }
} */